<!--
  @description       : 
  @author            : 
  @group             : 
  @last modified on  : 10-16-2020
  @last modified by  : Silvia Velazquez
  Modifications Log 
  Ver   Date         Author             Modification
  1.0   10-08-2020   Silvia Velazquez   Initial Version
-->
<apex:page showHeader="false" 
            sidebar="false" 
            standardStylesheets="false" 
            applyHtmlTag="false" 
            applyBodyTag="false" 
            docType="html-5.0"
            cache="false"
            controller="DCWizardInformationController">
 
    <form ng-controller="infoCtrl" name="informationForm" novalidate="novalidate"> 
        <div class="slds-grid slds-wrap slds-p-top_large slds-p-around_small">
            <!-- Form -->
            <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-4">
                <div class="sp-page-heading">
                    <h2 class="sp-color-brand slds-text-heading_large slds-p-top_large">Aplicación para {{mainScope.global.procedureType}}</h2>
                    <p class="slds-text-body_medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <!-- toast -->                    
                <div class="slds-notify_container slds-is-relative">
                    <div class="slds-notify slds-notify_toast slds-theme_info">
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading_x-small">26 potential duplicate leads were found. <a href="javascript:void(0);">Select Leads to Merge</a></h2>
                        </div>
                        <div class="slds-notify__close">
                            <button class="slds-button slds-button_icon slds-button_icon-inverse sp-button-close" title="Close">
                                ×
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /toast -->
                
                <h3 class="sp-text-bold slds-text-heading_medium slds-p-top_medium">Mis datos personales</h3>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                
            <!-- row1.1 -->
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control" 
                            ng-class="{'sp-has-error' : informationForm.firstname.$invalid && 
                                                        (informationForm.firstname.$touched || submitted)}">
                            <input type="text" name="firstname" id="firstname" placeholder=" " required="required" 
                                maxlength="80" 
                                ng-model="procedure.First_Name__c"/>
                            <label for="firstname">Primer nombre*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="middlename" id="middlename" placeholder=" " 
                                maxlength="80" 
                                ng-model="procedure.Middle_Name__c"/>
                            <label for="middlename">Segundo nombre</label>
                        </div>
                    </div>
            <!-- row1.2 -->
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : informationForm.lastname.$invalid && 
                                                        (informationForm.lastname.$touched || submitted)}">
                            <input type="text" name="lastname" id="lastname" placeholder=" " required="required" 
                                maxlength="80" 
                                ng-model="procedure.Last_Name__c"/>
                            <label for="lastname">Primer apellido*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                         ng-class="{'sp-has-error' : informationForm.secondlastname.$invalid && 
                                                    (informationForm.secondlastname.$touched || submitted)}">
                            <input type="text" name="secondlastname" id="secondlastname" placeholder=" " required="required" 
                                maxlength="80" 
                                ng-model="procedure.Second_Last_Name__c"/>
                            <label for="secondlastname">Segundo apellido*</label>
                        </div>
                    </div>
            <!-- row1.3 -->
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control" 
                            ng-class="{'sp-has-error' : informationForm.phone.$invalid && 
                                                        (informationForm.phone.$touched || submitted)}">
                            <input type="number" name="phone" id="phone" placeholder=" " 
                                required="required" maxlength="40"
                                ng-model="valuesToConvert.Phone"/>
                            <label for="phone">Nº de teléfono en EEUU*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : informationForm.email.$invalid &&
                                                        (informationForm.email.$touched || submitted)}">
                            <input type="email" name="email" id="email" placeholder=" " 
                                required="required" maxlength="80" 
                                ng-model="procedure.Email__c"
                                ng-pattern="mainScope.emailFormat"/>
                            <label for="email">Email*</label>
                        </div>
                    </div>
                </div>          
            <!-- row1.4 -->
            	<div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : informationForm.birthdate.$invalid && 
                                                        (informationForm.birthdate.$touched || submitted)}">
                            <input type="date" name="birthdate" id="birthdate" placeholder=" " required="required" 
                                    ng-model="valuesToConvert.Birthday"/>
                            <label for="birthdate">Fecha de nacimiento*</label>
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-fecha.svg')}" width="24" height="24" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_2-of-3">
                        <div class="sp-field slds-form-element__control"
                             ng-class="{'sp-has-error' : (procedureParam != '1') && 
                                                        (!procedure.Numero_de_Pasaporte__c.length) && 
                                                         (informationForm.passportnumber.$touched || submitted)}">
                            <input type="text" name="passportnumber" id="passportnumber" placeholder=" " 
                                maxlength="10" 
                                ng-model="procedure.Numero_de_Pasaporte__c"/>
                            <label for="passportnumber">Nº de pasaporte (ver arriba a la derecha en su pasaporte) OPCIONAL</label>
                        </div>
                    </div>
                </div>
            <!-- row1.5 -->
            	<div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="selectprovince" 
                                ng-model="procedure.Birth_Province__c"
                                ng-options="item for item in picklistValues.birthProvinces" 
                                ng-change="getMunicipalities('birth',procedure.Birth_Province__c)">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="selectmunicipality" 
                                ng-model="procedure.Birth_Municipality_City__c"
                                ng-options="item for item in municipalitiesList.birth">
                            </select>
                        </div>
                    </div>
                </div>  
            <!-- row1.6 -->
            	<div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Birth_Province__c == defaultValues.BirthProvince) && 
                                                        (procedure.Birth_Country__c == defaultValues.BirthCountry) && 
                                                        (informationForm.selectcountry.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="selectcountry" name ="selectcountry" 
                                ng-model="procedure.Birth_Country__c"
                                ng-options="item for item in picklistValues.birthCountries">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : (procedure.Birth_Province__c == defaultValues.BirthProvince) && 
                                                        (!procedure.Birth_ProvinceT__c) && 
                                                        (informationForm.provincet.$touched || submitted)}">
                            <input type="text" name="provincet" id="provincet" placeholder=" " 
                                maxlength="50" 
                                ng-model="procedure.Birth_ProvinceT__c"/>
                            <label for="provincet">Provincia de origen si nació fuera de Cuba</label>
                        </div>
                    </div>
                </div>
            
            <!-- row2.1 -->
                <h3 class="sp-text-bold slds-text-heading_medium slds-p-top_xx-large">Mis datos</h3>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Marital_Status__c == defaultValues.MaritalStatus) && 
                                                        (informationForm.maritalstatus.$touched || submitted)}">                
                            <select class="slds-select" id="maritalstatus" name="maritalstatus" 
                                    ng-model="procedure.Marital_Status__c"
                                    ng-options="item for item in picklistValues.maritalStatus">   
                            </select>
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-estado-civil.svg')}" width="24" height="24" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Gender__c == defaultValues.Gender) && 
                                                        (informationForm.gender.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-sexo.svg')}" width="24" height="24" />
                            <select class="slds-select" id="gender" name="gender" 
                                ng-model="procedure.Gender__c"
                                ng-options="item for item in picklistValues.genders">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-form-element__control"
                             ng-class="{'sp-has-error' : informationForm.height.$invalid && 
                                                        (informationForm.height.$touched || submitted)}">
                             <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-altura.svg')}" width="24" height="24" />
                            <input type="number" min="1" max="300" name="height" id="height" placeholder=" " 
                                    required="required" 
                                    ng-model="procedure.Height__c"/>
                            <label for="height">Estatura(cm)*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Eyes_Color__c == defaultValues.EyesColor) &&
                                                        (informationForm.eyescolor.$touched || submitted)}">                
                            <select class="slds-select" id="eyescolor" name="eyescolor" 
                                ng-model="procedure.Eyes_Color__c"
                                ng-options="item for item in picklistValues.eyesColor">
                            </select>
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-ojos.svg')}" width="24" height="24" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Skin_Color__c == defaultValues.SkinColor) && 
                                                        (informationForm.skincolor.$touched || submitted)}">  
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-piel.svg')}" width="24" height="24" />
                            <select class="slds-select" id="skincolor" name="skincolor" 
                                ng-model="procedure.Skin_Color__c"
                                ng-options="item for item in picklistValues.skinColor">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Hair_Color__c == defaultValues.HairColor) && 
                                                        (informationForm.haircolor.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-pelo.svg')}" width="24" height="24" />
                            <select class="slds-select" id="haircolor" name="haircolor" 
                                ng-model="procedure.Hair_Color__c"
                                ng-options="item for item in picklistValues.hairColor">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-form-element"> 
                            <div class="sp-field sp-field-textarea slds-form-element__control">
                                <textarea id="specialitems" name="specialitems" class="slds-textarea" placeholder=" " 
                                    ng-model="procedure.Special_Characteristics__c">
                                </textarea>
                                <label class="slds-form-element__label" for="specialitems">Elementos distintivos</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="sp-text-bold slds-text-heading_medium slds-p-top_xx-large">Otros datos importantes</h3>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="fathername" id="fathername" placeholder=" "
                                    maxlength="80" 
                                    ng-model="procedure.Father_Name__c"/>
                            <label for="fathername">Primer nombre del padre</label>
                        </div>      
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="mothername" id="mothername" placeholder=" " 
                                    maxlength="80"
                                    ng-model="procedure.Mother_Name__c"/>
                            <label for="mothername">Primer nombre de la madre</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : informationForm.departuredate.$invalid && 
                                                        (informationForm.departuredate.$touched || submitted)}">
                            <input type="date" name="departuredate" id="departuredate" placeholder=" " 
                                required="required" 
                                ng-model="valuesToConvert.Departure_Date"/>
                            <label for="departuredate">Fecha de salida de Cuba (antes de emigrar, aproximadamente)*</label>
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-fecha.svg')}" width="24" height="24" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedure.Immigration_Status__c == defaultValues.MigrationStatus) && 
                                                        (informationForm.immigrationstatus.$touched || submitted)}"> 
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-calificacion.svg')}" width="24" height="24" />               
                            <select class="slds-select" id="immigrationstatus" name="immigrationstatus" 
                                ng-model="procedure.Immigration_Status__c"
                                ng-options="item for item in picklistValues.migrationStatus">
                            </select>
                        </div>  
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-form-element" > 
                            <div class="sp-field sp-field-textarea slds-form-element__control"
                                ng-class="{'sp-has-error' : informationForm.workname.$invalid && 
                                                            (informationForm.workname.$touched || submitted)}">
                                <textarea id="workname" name="workname" class="slds-textarea" placeholder=" "
                                    maxlength="255"
                                    required="required" 
                                    ng-model="procedure.Work_Name__c">
                                </textarea>
                                <label class="slds-form-element__label" for="workname">
                                    Nombre de su centro de trabajo (si tiene un estado diferente, como el de estudiante, ama de casa o no está trabajando, escríbalo)*
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-escolar.svg')}" width="24" height="24" />                
                            <select class="slds-select" id="nivelescolaridad" name="nivelescolaridad" 
                                    ng-model="procedure.Nivel_de_Escolaridad__c"
                                    ng-options="item for item in picklistValues.educationalLevel">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-escolar.svg')}" width="24" height="24" />
                            <input type="text" name="profession" id="profession" placeholder=" "
                                maxlength="80" 
                                ng-model="procedure.Profession__c"/>
                            <label for="profession">Profesión</label>
                        </div>
                    </div>
                </div>

                <h3 class="sp-text-bold slds-text-heading_medium slds-p-top_xx-large">Mi persona de confianza o de referencia en Cuba</h3>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                             ng-class="{'sp-has-error' : (procedureParam == '1') && 
                                                         (!procedure.Reference_Full_Name__c.length) &&
                                                         (informationForm.referencename.$touched || submitted)}">
                            <input type="text" name="referencename" id="referencename" placeholder=" " 
                                    maxlength="50" 
                                    ng-model="procedure.Reference_Full_Name__c"/>
                            <label for="referencename">Nombre completo de la persona que le conozca*</label>
                        </div>      
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                                ng-class="{'sp-has-error' : (procedureParam == '1') &&
                                                            (!procedure.Relationship__c.length) && 
                                                            (informationForm.relationship.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-relacion.svg')}" width="24" height="24" />    
                            <input type="text" name="relationship" id="relationship" placeholder=" "
                                    maxlength="80"
                                    ng-model="procedure.Relationship__c"/>
                            <label for="relationship"> Relación suya con la persona de la referencia*</label>
                        </div>    
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-form-element__control">
                            <input type="number" name="tel-persona" id="tel-persona" placeholder=" "  
                                maxlength="40" 
                                ng-model="valuesToConvert.Reference_Phone"/>
                            <label for="tel-persona">Nº de teléfono cubano de la persona (opcional)</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : (procedureParam == '1') && 
                                                        (!procedure.Reference_Address__c.length) &&
                                                        (informationForm.refaddress.$touched || submitted)}">
                            <input type="text" name="refaddress" id="refaddress" placeholder=" "
                                maxlength="255" 
                                ng-model="procedure.Reference_Address__c"/>
                            <label for="refaddress">Calle, Avenida, Nº, Apartamento*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedureParam == '1') && 
                                                        (procedure.References_Province__c == defaultValues.RefProvince) &&
                                                        (informationForm.refprovince.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="refprovince" name="refprovince" 
                                    ng-model="procedure.References_Province__c"
                                    ng-options="item for item in picklistValues.refProvinces"
                                    ng-change="getMunicipalities('ref',procedure.References_Province__c)">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : (procedureParam == '1') && 
                                                        (procedure.References_Province__c != defaultValues.RefProvince) &&
                                                        (procedure.References_Municipality__c == defaultValues.RefMunicipality) &&
                                                        (informationForm.refmunicipality.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="refmunicipality" name="refmunicipality" 
                                    ng-model="procedure.References_Municipality__c"
                                    ng-options="item for item in municipalitiesList.reference">
                            </select>
                        </div>
                    </div>
                </div>

                <h3 class="sp-text-bold slds-text-heading_medium slds-p-top_xx-large">Mi dirección en Cuba</h3>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-form-element__control"
                            ng-class="{'sp-has-error' : informationForm.lastaddress.$invalid && 
                                                        (informationForm.lastaddress.$touched || submitted)}">
                            <input type="text" name="lastaddress" id="lastaddress" placeholder=" " required = "required"
                                    maxlength="255" 
                                    ng-model="procedure.Residence_Address_1__c"/>
                            <label for="lastaddress">Mi última dirección: Calle, Avenida, Nº, Apartamento*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container"
                            ng-class="{'sp-has-error' : procedure.Residence_Address_1_Province__c == defaultValues.LastProvince && 
                                                        (informationForm.lastprovince.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="lastprovince" name="lastprovince" 
                                        ng-model="procedure.Residence_Address_1_Province__c"
                                        ng-options="item for item in picklistValues.lastProvinces"
                                        ng-change="getMunicipalities('last',procedure.Residence_Address_1_Province__c)">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container"
                                ng-class="{'sp-has-error' : (procedure.Residence_Address_1_Province__c != defaultValues.LastProvince) &&
                                                            (procedure.Residence_Address_1_City__c == defaultValues.LastMunicipality) &&
                                                            (informationForm.lastmunicipality.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="lastmunicipality" name="lastmunicipality" 
                                    ng-model="procedure.Residence_Address_1_City__c"
                                    ng-options="item for item in municipalitiesList.lastAddress">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                                            ng-class="{'sp-has-error' : (informationForm.fromyear.$invalid || 
                                                                        procedure.Residence_Year_1_From__c > procedure.Residence_Year_1_To__c) &&
                                                                        (informationForm.fromyear.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-fecha.svg')}" width="24" height="24" />
                            <input type="number" min="1900" max="{{mainScope.global.currentYear}}" name="fromyear" id="fromyear" 
                                    placeholder=" " required = "required"  
                                    ng-model="valuesToConvert.Residence_Year_1_From"/>
                            <label for="fromyear">Desde el año*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                                            ng-class="{'sp-has-error' : (informationForm.toyear.$invalid || 
                                                                        procedure.Residence_Year_1_From__c > procedure.Residence_Year_1_To__c) &&
                                                                        (informationForm.toyear.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-fecha.svg')}" width="24" height="24" />
                            <input type="number"  min="1900" max="{{mainScope.global.currentYear}}" name="toyear" id="toyear" 
                                    placeholder=" " required = "required"  
                                    ng-model="valuesToConvert.Residence_Year_1_To"/>
                            <label for="toyear">Hasta el año*</label>
                        </div>
                    </div>

                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-form-element__control"
                                ng-class="{'sp-has-error' : (procedure.Residence_Year_1_To__c.length && procedure.Residence_Year_1_From__c.length) &&
                                                            (procedure.Residence_Year_1_To__c - procedure.Residence_Year_1_From__c < 2) && 
                                                            (!procedure.Residence_Address_2__c.length) &&
                                                            (informationForm.penultaddress.$touched || submitted)}">
                            <input type="text" name="penultaddress" id="penultaddress" placeholder=" "
                                    maxlength="255" 
                                    ng-model="procedure.Residence_Address_2__c"/>
                            <label for="penultaddress">Penúltima dirección: Calle, Avenida, Nº, Apartamento</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="penultprovince" name="penultprovince" 
                                    ng-model="procedure.Residence_Address_2_Province__c"
                                    ng-options="item for item in picklistValues.penultProvinces"
                                    ng-change="getMunicipalities('penult',procedure.Residence_Address_2_Province__c)">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-map.svg')}" width="24" height="24" />
                            <select class="slds-select" id="penultmunicipality" name="penultmunicipality" 
                                    ng-model="procedure.Residence_Address_2_City__c"
                                    ng-options="item for item in municipalitiesList.penultAddress">
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                                ng-class="{'sp-has-error' : (informationForm.fromyearp.$invalid || 
                                                            procedure.Residence_Year_2_From__c > procedure.Residence_Year_2_To__c) &&
                                                            (informationForm.fromyearp.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-fecha.svg')}" width="24" height="24" />
                            <input type="number" min="1900" max="{{mainScope.global.currentYear}}" name="fromyearp" 
                                    id="fromyearp" placeholder=" " 
                                    ng-model="valuesToConvert.Residence_Year_2_From"/>
                            <label for="fromyearp">Desde el año</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control"
                                ng-class="{'sp-has-error' : (informationForm.toyearp.$invalid || 
                                                            procedure.Residence_Year_2_From__c > procedure.Residence_Year_2_To__c) &&
                                                            (informationForm.toyearp.$touched || submitted)}">
                            <apex:image url="{!URLFOR($Resource.dcResourses, 'svg/dc-icon-fecha.svg')}" width="24" height="24" />
                            <input type="number" min="1900" max="{{mainScope.global.currentYear}}" name="toyearp" 
                                    id="toyearp" placeholder=" " 
                                    ng-model="valuesToConvert.Residence_Year_2_To"/>
                            <label for="toyearp">Hasta el año</label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Form -->
            <!-- Ayuda -->
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 sp-sidebar-help">
                <div class="sp-bck-lightgray slds-p-around_x-large">
                    <h2 class="slds-p-bottom_small">AYUDA</h2>
                    <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!-- /Ayuda -->
        </div>
        <!-- Buttons -->
        <div class="slds-grid slds-p-top_x-large slds-m-bottom_medium">
            <div class="slds-col slds-size_7-of-12">
            </div>
            <div class="slds-col">
                <button class="slds-button sp-button-brand" ng-click = "newProcedure(informationForm.$valid)">SIGUIENTE →</button>
            </div>
        </div>
        <!-- /Buttons -->
    </form> 
</apex:page>